
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 50% 98%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --primary: 201 85% 48%;
    --primary-foreground: 210 40% 98%;

    --secondary: 150 59% 46%;
    --secondary-foreground: 222 47% 11%;

    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;

    --accent: 216 34% 87%;
    --accent-foreground: 222 47% 11%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 222 84% 5%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 5% 26%;
    --sidebar-primary: 201 85% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 216 34% 87%;
    --sidebar-accent-foreground: 240 6% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217 91% 60%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;

    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 201 85% 48%;
    --primary-foreground: 222 47% 11%;

    --secondary: 150 59% 46%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 18%;
    --muted-foreground: 215 20% 65%;

    --accent: 217 33% 18%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 18%;
    --input: 217 33% 18%;
    --ring: 213 27% 84%;
    
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 201 85% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 216 34% 27%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 216 34% 27%;
    --sidebar-ring: 217 91% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  /* Custom button styles */
  .btn-primary {
    @apply bg-[#14532d] text-white hover:bg-[#14532d]/90 transition-colors;
  }
  
  .btn-outline {
    @apply border border-[#14532d] text-[#14532d] hover:bg-[#14532d]/10 transition-colors;
  }
}

.step-item {
  @apply flex flex-col items-center w-36 relative;
}

.step-item:not(:first-child):before {
  @apply content-[''] bg-slate-200 absolute w-full h-[3px] right-2/4 top-1/3 -translate-y-2/4;
}

.step-item.active:not(:first-child):before {
  @apply bg-[#14532d];
}

.step {
  @apply w-10 h-10 flex items-center justify-center z-10 relative bg-slate-200 rounded-full font-semibold text-slate-500;
}

.active .step {
  @apply bg-[#14532d] text-white;
}

.complete .step {
  @apply bg-[#14532d] text-white;
}

.complete:not(:first-child):before,
.active:not(:first-child):before {
  @apply bg-[#14532d];
}
